---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/ExperienceSection.astro";
import Projects from "../components/ProjectsSection.astro";
import AboutMe from "../components/AboutMe.astro";
import TechStackSection from "../components/TechStackSection.astro";
---

<Layout title="Miguel Higuera.">
  <Header />
  <main>
    <Hero
      hiIAm="Hola, soy"
      jobTitle="Ingeniero de Software"
      tagline="Transformando ideas en realidad a través del código"
      visitMy="Visita mi"
      emailMeAt="Envíame un email"
      photoAlt="Fotografía de Miguel"
    />
    <AboutMe />
    <Experience />
    <Projects />
    <TechStackSection />
  </main>
</Layout>
