---
import Separator from "./Separator.astro";
import { LanyardDiscordCard } from "discord-card-react";
import "discord-card-react/styles";
import MisfitCard from "./MisfitCard";
---

<section class="max-w-[900px] mx-auto mt-10" id="about">
  <Separator />
  <h2 class="text-3xl font-bold text-gray-300 mb-4">Sobre mí</h2>

  <div class="flex flex-col md:flex-row gap-4 text-gray-300 text-lg">
    <div>
      <p>
        Soy Miguel Higuera, desarrollador chileno 🇨🇱 titulado de Ingeniero en Informática en INACAP. <strong>Actualmente me encuentro buscando una nueva oportunidad laboral.</strong>
      </p>
      <p class="mt-4">
        Muy apasionado por la computación, tengo mucha curiosidad y sed de conocimiento, y siempre estoy
        aprendiendo algo nuevo para poder mejorar mis habilidades.
      </p>
      <p class="mt-4">
        Mis lenguajes principales son <strong>JavaScript, TypeScript, Java y PHP</strong>, pero también he trabajado con otros lenguajes.</strong>
      </p>
      <strong class="mt-4 block">Hablo inglés fluido.</strong>
      <div class="hidden md:flex md:flex-col h-[50%] justify-center items-center">
        <img
          src="component-text-es.webp"
          alt="Componente Discord Card creado por mí."
          width="1608"
          height="755"
          class="h-auto"
        />
        <a
          href="https://github.com/MiguelHigueraDev/discord-card-react"
          target="_blank"
          class="h-auto"
          aria-label="Ir al repositorio del componente Discord Card"
          ><img
            src="view-code-es.webp"
            alt=""
            class="w-48 h-auto"
          /></a
        >
      </div>
    </div>
    <div class="self-center flex flex-col md:block gap-3 md:gap-0">
      <div class="flex-grow self-center" style={{fontFamily: 'ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji" !important'}}>
        <MisfitCard client:load />
      </div>
      <a
        href="https://github.com/MiguelHigueraDev/discord-card-react"
        aria-label="Ir al repositorio del componente Discord Card, creado por mí."
        target="_blank"
        class="sm:flex self-center w-30 h-auto items-center justify-center md:hidden mt-2 text-purple-300 hover:text-purple-200 font-bold text-center"
        >Ver código</a
      >
    </div>
  </div>
</section>
