---
import { Image } from "astro:assets";
import Separator from "./Separator.astro";
---

<section class="max-w-[900px] mx-auto mt-10" id="about">
    <Separator />
    <h2 class="text-3xl font-bold text-gray-400 mb-4">Sobre mí</h2>
    <p class="text-gray-300 text-lg">Soy Miguel Higuera, titulado de Ingeniero en Informática en INACAP y desarrollador Full Stack. Desde que tengo memoria me ha apasionado la tecnología, tanto el hardware como software. <br> Tras estudiar la carrera me di cuenta que mi verdadera pasión es el desarrollo de software, con atención tanto a la parte lógica, cómo al diseño.</p>
    <p class="text-gray-300 text-lg mt-4">Tengo una curiosidad y sed de conocimiento, y siempre estoy aprendiendo algo nuevo. Mi objetivo principal es causar impacto en una empresa donde se valore la creatividad y se resuelvan problemas gracias a la creación de software eficiente.</p>
    <p class="text-gray-300 text-lg mt-4">Fuera del mundo del software, me gusta jugar videojuegos y dibujar.</p>
    <p class="text-gray-300 text-lg mt-4">Hablo inglés fluido.</p>
    <div class="mt-6">
        <h3 class="text-2xl font-bold text-gray-400 mb-4">Tecnologías principales</h3>
        <div class="flex justify-center items-center gap-6 flex-wrap mb-20">
            <Image src="/technologies/javascript.svg" width={200} height={200} loading="lazy" class="inline w-[70px] h-[70px]" alt="JavaScript" />
            <Image src="/technologies/typescript.svg" width={200} height={200} loading="lazy" class="inline w-[70px] h-[70px]" alt="TypeScript" />
            <Image src="/technologies/html.svg" width={200} height={200} loading="lazy" class="inline w-[70px] h-[70px]" alt="HTML" />
            <Image src="/technologies/css.svg" width={200} height={200} loading="lazy" class="inline w-[70px] h-[70px]" alt="CSS" />
            <Image src="/technologies/php.svg" width={200} height={200} loading="lazy" class="inline w-[70px] h-[70px]" alt="PHP" />
            <Image src="/technologies/java.svg" width={200} height={200} loading="lazy" class="inline w-[70px] h-[70px]" alt="Java" />
            <Image src="/technologies/mysql.svg" width={200} height={200} loading="lazy" class="inline w-[70px] h-[70px]" alt="MySQL" />
            <Image src="/technologies/node.svg" width={200} height={200} loading="lazy" class="inline w-[70px] h-[70px]" alt="Node" />
            <Image src="/technologies/react.svg" width={200} height={200} loading="lazy" class="inline w-[70px] h-[70px]" alt="React" />
            <Image src="/technologies/vue.svg" width={200} height={200} loading="lazy" class="inline w-[70px] h-[70px]" alt="Vue" />
        </div>
    </div>
</section>