<section class="mt-[70px] md:mt-0 flex flex-col md:flex-row items-center justify-between h-[400px] max-w-[900px] mx-auto">
    <div class="mb-10 md:mb-0">
        <p class="text-xl font-semibold text-gray-400">Hola, soy</p>
        <p class="text-5xl font-black text-purple-600 mt-1 tracking-tight">Miguel Higuera<span class="text-gray-400 font-black">.</span></p>
        <p class="text-xl font-bold text-purple-500 mt-1">Desarrollador Full Stack</p>
        <p class="text-lg text-gray-300">Transformando ideas en realidad a través del código</p>
    </div>
    <div class="flex-grow lg:ml-[100px] mx-auto">
        <img src="miguelhigueradev.webp" class="mx-auto md:w-[300px] md:h-[300px]" alt="Fotografía de Miguel" />
    </div>

</section>