---
import { Image } from "astro:assets";
import DiscordPresence from "../components/DiscordPresence.jsx"
---

<section class="mt-[70px] md:mt-0 flex flex-col md:flex-row items-center justify-between h-[600px] md:h-[400px] max-w-[900px] mx-auto">
    <div class="mb-10 md:mb-0">
        <p class="text-xl font-semibold text-gray-400">Hola, soy</p>
        <p class="text-5xl font-black text-purple-600 mt-1 tracking-tight">Miguel Higuera<span class="text-gray-400 font-black">.</span></p>
        <p class="text-xl font-bold text-purple-500 mt-1">Desarrollador Full Stack</p>
        <p class="text-lg text-gray-300">Transformando ideas en realidad a través del código</p>
        <div class="mt-2 flex gap-3 mb-3">
            <a href="https://www.linkedin.com/in/miguelhigueradev/" target="_blank" rel="noopener noreferrer" class="" aria-label="Visita mi LinkedIn"><img src="/linkedin.svg" class="inline w-6 h-6" alt="" /></a>
            <a href="https://github.com/miguelhigueradev" target="_blank" rel="noopener noreferrer" class="" aria-label="Visita mi GitHub"><img src="/github.svg" class="inline w-6 h-6" alt="" /></a>
        </div>
        <a class="text-gray-400 font-bold" href="mailto:contacto@miguelhiguera.dev">contacto@miguelhiguera.dev</a>
        <div>
            <DiscordPresence client:load />
        </div>
    </div>
    <div class="flex-grow">
        <Image src="/miguelhigueradev.webp" width={300} height={300} loading="eager" class="w-[300px] h-[300px] md:w-[300px] md:h-[300px] ml-auto" alt="Fotografía de Miguel" />
    </div>

</section>