---
import { Image } from "astro:assets";
import Separator from "./Separator.astro";
import TechStack from "./TechStack.astro";
import { frontend, backend } from "../constants/techstacks"
---

<section class="max-w-[900px] mx-auto mt-10" id="tech-stack">
    <Separator />
    <div>
        <h3 class="text-3xl font-bold text-gray-300 mb-6">Tecnologías principales</h3>
        <div class="flex md:grid grid-cols-2 gap-4 md:gap-10 flex-wrap mb-20 select-none">
            <TechStack name="Frontend" technologies={frontend} />
            <TechStack name="Backend" technologies={backend} />
        </div>
    </div>
</section>