---
import '@fontsource-variable/epilogue'
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portafolio del desarrollador Miguel Higuera." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    </head>
    <body class="p-4 max-w-[1200px] mx-auto bg-neutral-900">
        <slot />
    </body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	::selection {
		color: black;
		background: rgb(166, 51, 254);
	}
	::-moz-selection {
		color: black;
		background: rgb(166, 51, 254);
	}

	/* ===== Scrollbar CSS ===== */
	/* Firefox */
	* {
		scrollbar-width: auto;
		scrollbar-color: #9333ea #1f1f1f;
	}

	/* Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 16px;
	}

	*::-webkit-scrollbar-track {
		background: #1f1f1f;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #9333ea;
		border-radius: 10px;
		border: 3px solid #ffffff;
	}

	/* Status styling */
	.status-dot.online {
		background-color: #198754;
	}

	.status-dot.idle {
		background-color: #cc9a06;
	}

	.status-dot.dnd {
		background-color: #b02a37;
	}

	.status-dot.offline {
		background-color: #6c757d;
	}

	.status-dot.loading {
		background-color: #6c757d;
	}

	.status-dot {
		display: inline-flex;
		width: 1em;
		height: 1em;
		border-radius: 100%;
		margin-bottom: 1px;
		transition: all 0.5s ease;
	}

	.status-button {
		align-items: center;
		justify-content: center;
		justify-items: center;
	}
</style>