---
import '@fontsource-variable/epilogue'
import 'react-tooltip/dist/react-tooltip.css'
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portafolio del desarrollador Miguel Higuera. Proyectos, experiencia, tecnologías usadas y más." />
		<meta name="keywords" content="desarrollo, web, ingeniero, informática, programador, javascript" />
		<meta name="og:image" content="https://miguelhiguera.dev/miguelhigueradev.webp" />
		<meta name="twitter:image" content="https://miguelhiguera.dev/miguelhigueradev.webp" />
		<meta name="og:title" content="Miguel Higuera - Portafolio" />
		<meta name="twitter:title" content="Miguel Higuera - Portafolio" />
		<meta name="og:description" content="Portafolio del desarrollador Miguel Higuera. Proyectos, experiencia, tecnologías usadas y más." />
		<meta name="twitter:description" content="Portafolio del desarrollador Miguel Higuera. Proyectos, experiencia, tecnologías usadas y más." />
		<meta name="og:url" content="https://miguelhiguera.dev" />
		<meta name="og:type" content="website" />
		<meta name="og:site_name" content="Miguel Higuera - Portafolio" />
		<meta name="og:locale" content="es_CL" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#9333ea" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    </head>
    <body class="p-4 max-w-[1200px] mx-auto bg-neutral-900">
        <slot />
    </body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	::selection {
		color: black;
		background: rgb(166, 51, 254);
	}
	::-moz-selection {
		color: black;
		background: rgb(166, 51, 254);
	}

	/* ===== Scrollbar CSS ===== */
	/* Firefox */
	* {
		scrollbar-width: auto;
		scrollbar-color: #9333ea #1f1f1f;
	}

	/* Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 16px;
	}

	*::-webkit-scrollbar-track {
		background: #1f1f1f;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #9333ea;
		border-radius: 10px;
		border: 3px solid #ffffff;
	}

	/* Status styling */
	.status-dot.online {
		background-color: #198754;
	}

	.status-dot.idle {
		background-color: #cc9a06;
	}

	.status-dot.dnd {
		background-color: #b02a37;
	}

	.status-dot.offline {
		background-color: #6c757d;
	}

	.status-dot.loading {
		background-color: #6c757d;
	}

	.status-dot {
		display: inline-flex;
		width: 1em;
		height: 1em;
		border-radius: 100%;
		margin-bottom: 1px;
		transition: all 0.5s ease;
	}

	.status-button {
		align-items: center;
		justify-content: center;
		justify-items: center;
	}

	.react-tooltip {
		opacity: 1 !important;
	}
</style>